{% extends 'base.html.twig' %}

{% block title %}Hello TestTodoController!{% endblock %}

{% block body %}`
<section class="relative bg-white py-10">
    <div class="max-w-7xl mx-auto px-6 lg:px-8">

    <turbo-frame
            id="todos"
            data-controller="todo"
            data-todo-weekly-dates="{{ weeklyDates is defined and weeklyDates|length > 0 ? weeklyDates|json_encode : '[]' }}"
    >
    <div class="mb-6">
            <!-- Navigation -->
        <div class="max-w-7xl mx-auto px-6 lg:px-8">
            <!-- Week Navigation -->
            <div class="flex justify-between items-center mb-6">
                <div class="flex items-center gap-2">
                    <a href="{{ path('app_todo', { week: week == 1 ? 53 : week - 1, year: week == 1 ? year - 1 : year }) }}"
                       class="py-2 px-4 bg-gray-200 text-black rounded-md hover:bg-gray-300">Previous week</a>
                    <a href="{{ path('app_todo') }}" class="py-2 px-4 bg-indigo-600 text-white rounded-md hover:bg-indigo-700"> Today</a>
                    <a href="{{ path('app_todo', { week: week == 53 ? 1 : week + 1, year: week == 53 ? year + 1 : year }) }}"
                       class="py-2 px-4 bg-gray-200 text-black rounded-md hover:bg-gray-300">Next week</a>
                </div>
            </div>



            <form>
                <table class="min-w-full w-full table-auto bg-white">

                    <!-- Table Head -->
                    <thead>
                    <tr>
                        <th class="py-3 px-4 text-left text-sm font-medium text-black bg-gray-300">{{ year }} | Week: {{ week }}</th>
                        {% for day in weeklyData %}
                            <th class="py-3 px-4 text-center text-sm font-medium text-black {% if day.date|date('N') in [6, 7] %}bg-gray-100{% else %}bg-blue-100{% endif %}">
                                {{ day.date|date('d/m') }}<br>{{ day.date|date('D') }}
                            </th>
                        {% endfor %}
                        <th class="py-3 px-4 text-center text-sm font-medium text-black bg-gray-300">Total</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for todo in todos %}
                        {% set row_total = 0 %}

                            {% if todo.timelogs|length > 0 %}
                            <tr id="row_{{ todo.id }}">
                                <!-- Todo Name colum -->
                                <td class="py-3 px-4 border-b text-sm bg-gray-50">
                                    <a href="#" class="text-black hover:underline">{{ todo.name }}</a>
                                </td>
                                <!-- Todo Timelogs Colums -->

                                {% for day in weeklyData %}
                                    {% set day_total = 0 %}
                                    <td class="py-3 px-4 border-b text-center text-sm {% if day.date|date('N') in [6, 7] %}bg-gray-100{% else %}bg-blue-50{% endif %}">
                                        {% for timelog in day.timelog %}
                                            {% if timelog.todo_id == todo.id %}
                                                {% set day_total = day_total + timelog.hours * 60 + timelog.minutes %}
                                            {% endif %}
                                        {% endfor %}
                                        {% set row_total = row_total + day_total %}

                                        <!-- Display Input Field with Auto-Save Logic -->
                                        <label>
                                            <input
                                                    type="time"
                                                    name="time_{{ day.date|date('Ymd') }}_{{ todo.id }}"
                                                    value="{% if day_total > 0 %}{{ '%02d:%02d'|format((day_total / 60)|round(0, 'floor'), day_total % 60) }}{% else %}00:00{% endif %}"
                                                    class="block mx-auto border-gray-300 rounded-md shadow-sm autosave-input"
                                                    data-todo-id="{{ todo.id }}"
                                                    data-date="{{ day.date|date('Y-m-d') }}"
                                            />
                                        </label>

                                    </td>
                                {% endfor %}
                                <!-- Row Total -->
                                <td class="py-3 px-4 border-b text-center text-sm  bg-gray-50">
                                    {{ (row_total / 60)|round(0, 'floor') }}h {{ row_total % 60 }}m
                                </td>
                            </tr>

                            {% endif %}

                            <!-- add todo in tr,td here -->
                    {% endfor %}
                    </tbody>
                    <!-- Table Footer -->
                    <tfoot>
                    <tr>
                        <td class="py-3 px-4  bg-gray-300 text-black">Total</td>
                        {% for day in weeklyData %}
                            <td class="py-3 px-4 text-center  {% if day.date|date('N') in [6, 7] %}bg-gray-100{% else %}bg-blue-100{% endif %}">
                                {{ (day.dayTotal / 60)|round(0, 'floor') }}h {{ day.dayTotal % 60 }}m
                            </td>
                        {% endfor %}
                        <td class="py-3 px-4 text-center  bg-gray-300 text-black">
                            {{ (weeklyTotal / 60)|round(0, 'floor') }}h {{ weeklyTotal % 60 }}m
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>

        <form name="form-select-todo" id="form">
            <div class="form-group relative">
                <label for="todo" class="">Add Todo</label>

                <select
                        name="select-todo"
                        id="select-todo"
                        data-todo-target="select"                            data-action="change->todo#addTodoToTable">
                    <option disabled selected>Select your Todo</option>
                    {% for todo in todos %}

                        {# Check if the todo.name exists in the timetable #}
                        {% set exists_in_table = false %}
                        {% for table_todo in todos %}
                            {% if table_todo.timelogs|length > 0 and table_todo.name == todo.name %}
                                {% set exists_in_table = true %}
                            {% endif %}
                        {% endfor %}
                        {# If not in the timetable, show in the dropdown #}
                        {% if not exists_in_table %}
                            <option value="{{ todo.name }}" data-id="{{ todo.id }}">{{ todo.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <span class="absolute inset-y-0 right-3 flex items-center pointer-events-none">
                                <i class="bx bx-chevron-down text-gray-400"></i>
                            </span>
            </div>
        </form>


    </div>
    </turbo-frame>
    </div>
</section>
{% endblock %}
